/* Style the page. */
.container {
    display: grid;
    width: 100%;
    grid-template-areas: 
      'header header header header header'
      'main1 main1 main1 right1 right1'
      'main2 main2 main2 right1 right1'
      'main2 main2 main2 right2 right2'
      'main2 main2 main2 right2 right2'
      'main2 main2 main2 right3 right3'
      'main3 main3 main3 right3 right3'
      'footer footer footer footer footer';
    gap: 5px;
}
.top {
    grid-area: header;
    text-align: center;
}
#title {
    height: 150px;
}
.instructions {
    grid-area: right1;
    padding: 0 20px 20px 20px;
    background-color: #ACFCD9;
}
h4 {
    font-family: 'Julius Sans One';
    font-weight: bolder;
    background-color: white;
    color: #190933;
    text-align: center;
    padding: 10px 0 10px 0;
}
ul {
    font-family: 'Julius Sans One';
    font-size: small;
    font-weight: bolder;
}
.namehome {
    grid-area: main1;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
    font-family: 'Julius Sans One';
    font-size: x-large;
    font-weight: bolder;
    color:#ACFCD9;
    background-color:#190933
}
#namepet {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Julius Sans One';
}
.egghome {
    grid-area: main2;
    height: 550px;
}
#egg {
    visibility: visible;
    height: 500px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    z-index: 1;
}
#altegg {
    visibility: hidden;
    height: 500px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    z-index: 1;
}
#lightsout {
    visibility: hidden;
    height: 500px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    z-index: 1;
}
#kitty {
    visibility: visible;
    height: 100px;
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: 325px;
    left: 155px;
    /* Animate your pet across the screen while it's alive. */
    animation: slide 10s infinite;
}
#cat {
    visibility: hidden;
    height: 125px;
    position: absolute;
    z-index: 3;
    bottom: 325px;
    left: 155px;
    /* Animate your pet across the screen while it's alive. */
    animation: slide 10s infinite;
}
#deadcat {
    visibility: hidden;
    height: 125px;
    position: absolute;
    z-index: 3;
    bottom: 325px;
    left: 155px;
}
#deadkitty {
    visibility: hidden;
    height: 125px;
    position: absolute;
    z-index: 3;
    bottom: 325px;
    left: 155px;
}
@keyframes slide {
    from {
      transform: translateX(70px);
    }
    50% {
      transform: translateX(-70px)
    }
    to {
      transform: translateX(70px)
    }
}
.eggstylehome {
    grid-area: main3;
}
.eggstyle {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Julius Sans One';
}
.actions {
    grid-area: right2;
    background-color: #B084CC;
    text-align: center;
}
.care {
    height: 125px;
}
.gameplay {
    margin: 0 20px 0 0;
    background-color: white;
}
.vitals {
    grid-area: right3;
    padding: 0 20px 20px 20px;
    background-color: #5DD9C1;
    font-family: 'Julius Sans One';
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: #190933;
    font-family: 'Julius Sans One';
    color: #ACFCD9;
    text-align: center;
    font-weight: bolder;
}