.container {
    display: grid;
    width: 100%;
    grid-template-areas: 
      'header header header header header'
      'words words words words words'
      'main main main right1 right1'
      'main main main right2 right2'
      'main main main right3 right3'
      'footer footer footer footer footer';
    gap: 5px;
}
.top {
    grid-area: header;
    text-align: center;
}
#title {
    height: 100px;
}
#name {
    grid-area: words;
    background-color:#190933;
    width: 100%;
}
#nametarget {
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
    font-family: 'Julius Sans One';
    font-size: x-large;
    font-weight: bolder;
    color:#ACFCD9;
    background-color:#190933
}
.instructions {
    grid-area: right1;
    padding: 20px;
    background-color: #ACFCD9;
}
h4 {
    font-family: 'Julius Sans One';
    font-weight: bolder;
}
ul {
    font-family: 'Julius Sans One';
    font-size: small;
    font-weight: bolder;
}
.home {
    grid-area: main;
    width: auto;
    /* background-color: #665697; */
}
#egg {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    z-index: 1;
}
#kitty {
    visibility: visible;
    height: 100px;
    position: absolute;
    z-index: 3;
    text-align: center;
    bottom: 400px;
    left: 140px;
    animation: slide 10s infinite;
}
#cat {
    visibility: hidden;
    height: 125px;
    position: absolute;
    z-index: 3;
    bottom: 400px;
    left: 140px;
    animation: slide 10s infinite;
}
@keyframes slide {
    from {
      transform: translateX(80px);
    }
    50% {
      transform: translateX(-80px)
    }
    to {
      transform: translateX(80px)
    }
}
.actions {
    grid-area: right2;
    padding: 58px;
    background-color: #B084CC;
    text-align: center;
}
.care {
    height: 125px;
}
button {
    margin: 0 20px 0;
    border-radius: 25%;
}
.vitals {
    grid-area: right3;
    padding: 20px;
    background-color: #5DD9C1;
    font-family: 'Julius Sans One';
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: #190933;
    font-family: 'Julius Sans One';
    color: #ACFCD9;
    text-align: center;
    font-weight: bolder;
}
/* EXTRAS
Option for different style eggs?
*/