.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
      'header header header header' 
      'left main main right1'
      'left main main right2'
      'footer footer footer footer';
    gap: 5px;
}
.top {
    grid-area: header;
    background-color: #190933;
    padding: 5px;
    color: #ACFCD9;
    text-align: center;
    font-size: 30px;
}
h6 {
    font-size: 10px;
}
.instructions {
    grid-area: left;
    background-color: #ACFCD9;
}
.home {
    grid-area: main;
    align-items: center;
    justify-items: center;
    background-color: #665697;
}
#egg {
    height: 750px;
}
#kitty {
    height: 150px;
    animation: slide 10s infinite; 
}
@keyframes slide {
    from {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-225px)
    }
    to {
      transform: translateX(0)
    }
}
.actions {
    grid-area: right1;
    background-color: #5DD9C1;
}
.care {
    height: 60px;
}
ul {
    list-style-type: none;
    color: #190933;
}
.vitals {
    grid-area: right2;
    background-color: #B084CC;
}
.footer {
    grid-area: footer;
    background-color: #190933;
    color: #ACFCD9;
    text-align: center;
}
/* EXTRAS
Option for different style eggs?
*/